.hidden {
    display: none;
  }
  
  @media (max-width: 1024px) {
    .hidden {
      display: none;
    }
  }


/* NavMobile.css */

.navMobile {
    position: fixed;
    right: 1.5rem;
    top: 4.5rem;
    padding: 5px;
    padding-top: 0;

    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 14rem;
  }
  
  .navMobile ul {
    display: grid;
    justify-items: center;
    gap: 2px;
  }
  
  .navMobile li {
    width: 100%;
    padding: 0.08rem;
    border-radius: 15px;
    background: linear-gradient(to right, #2d374849, #4a5568, #2d3748);
  }
  
  .navMobile a {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 15px;
    background-color: #002c00e0;
  }
  
  .navMobile span {
    display: flex;
    gap: 1px;
    font-size: 1.5rem;
  }
  
  .navMobile svg {
    font-size: 2rem;
  }